<IfModule mod_rewrite.c>
    RewriteEngine On

    # Route everything through public/index.php (Laravel entry point)
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
